.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}
.header {
    grid-area: h;
    background-color: green;
}
.header img {
    height: 100%;
}

.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}
.nav .item a{
    color: white;
}
.nav .item a.active{
    color: gold;
}

.content {
    grid-area: c;
    background-color: cornflowerblue;
    padding-bottom: 20px;
}
.content img {
    width: 100%;
}
.content .description {
    padding: 10px;
}
.content .myPosts {
    padding: 10px;
}
.posts {
    margin-top: 20px;
}
.posts img {
    width: 40px;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: cornflowerblue;
    padding: 20px;
}
.dialogs .dialog {
    padding: 5px;
}
.dialog a {
    color: black;
}
.dialog a.active {
    color: gold;
}
.dialogs .message {
    padding: 5px;
}

.usersContent{
padding: 20px;
}
.usersContent span{
    margin-right: 5px;
    cursor: pointer;
    }

.userPhoto {
    width: 100px;
}

.usersContent .selectedPage {
    font-weight: bold;
}

.usersContent > img {
        width: 100px;
        height: 100px;
        margin: 20px;
        display: inline-block;
}

.description > img {
    width: 200px;
}

.preloader {
    width: 500px;
}

.loginBlock {
    float: right;
    color: white;
}
.loginBlock a{
    color: white;
}